<div class="card">
  <div class="top-bar">
    <h3>Leute hinzufügen</h3>
    <div class="img-container" (click)="closeDialog()">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
      >
        <mask
          id="mask0_85344_17707"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_85344_17707)">
          <path
            d="M12 13.4L7.10005 18.3C6.91672 18.4834 6.68338 18.575 6.40005 18.575C6.11672 18.575 5.88338 18.4834 5.70005 18.3C5.51672 18.1167 5.42505 17.8834 5.42505 17.6C5.42505 17.3167 5.51672 17.0834 5.70005 16.9L10.6 12L5.70005 7.10005C5.51672 6.91672 5.42505 6.68338 5.42505 6.40005C5.42505 6.11672 5.51672 5.88338 5.70005 5.70005C5.88338 5.51672 6.11672 5.42505 6.40005 5.42505C6.68338 5.42505 6.91672 5.51672 7.10005 5.70005L12 10.6L16.9 5.70005C17.0834 5.51672 17.3167 5.42505 17.6 5.42505C17.8834 5.42505 18.1167 5.51672 18.3 5.70005C18.4834 5.88338 18.575 6.11672 18.575 6.40005C18.575 6.68338 18.4834 6.91672 18.3 7.10005L13.4 12L18.3 16.9C18.4834 17.0834 18.575 17.3167 18.575 17.6C18.575 17.8834 18.4834 18.1167 18.3 18.3C18.1167 18.4834 17.8834 18.575 17.6 18.575C17.3167 18.575 17.0834 18.4834 16.9 18.3L12 13.4Z"
            fill="black"
          />
        </g>
      </svg>
    </div>
  </div>
  <form #addUserForm="ngForm" (submit)="onSubmit(addUserForm)">
    <div class="form-row">
      <input
        (click)="toggleAllUsers()"
        value="allUsers"
        name="option"
        type="radio"
        id="all-user"
        checked
      />
      <label for="all-user"
        >Alle mitglieder von <span> {{ channel.name }} </span> hinzufügen
      </label>
    </div>
    <div class="form-row">
      <input
        (click)="toggleSelectUsers()"
        value="selectedUsers"
        name="option"
        type="radio"
        id="selected-user"
      />
      <label for="selected-user">Bestimmte Leute hinzufügen</label>
    </div>
    <div class="form-row search-row">
      <input
        (input)="searchUser()"
        class="search-field"
        type="text"
        name="search-input"
        #search="ngModel"
        [(ngModel)]="searchInput"
        placeholder="Name eingeben..."
        *ngIf="selectUsers"
      />
      <div class="user-list" *ngIf="searchInput && filteredUsers.length > 0">
        <div class="status-border">
          <span class="status"></span>
        </div>
        <div
          (click)="selectUser(i)"
          class="contact"
          *ngFor="let user of filteredUsers; let i = index"
        >
          <img src="{{ user.picture }}" alt="" />
          <p>{{ user.name }}</p>
        </div>
      </div>
      <div class="selected-users" *ngIf="selectedUsers.length > 0">
        <div
          class="selected-contact"
          *ngFor="let selectedUser of selectedUsers; let i = index"
        >
          <img src="{{ selectedUser.picture }}" alt="" />
          <p>{{ selectedUser.name }}</p>
          <div class="img-container" (click)="deleteUser(i)">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
            >
              <mask
                id="mask0_85344_17707"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="24"
                height="24"
              >
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_85344_17707)">
                <path
                  d="M12 13.4L7.10005 18.3C6.91672 18.4834 6.68338 18.575 6.40005 18.575C6.11672 18.575 5.88338 18.4834 5.70005 18.3C5.51672 18.1167 5.42505 17.8834 5.42505 17.6C5.42505 17.3167 5.51672 17.0834 5.70005 16.9L10.6 12L5.70005 7.10005C5.51672 6.91672 5.42505 6.68338 5.42505 6.40005C5.42505 6.11672 5.51672 5.88338 5.70005 5.70005C5.88338 5.51672 6.11672 5.42505 6.40005 5.42505C6.68338 5.42505 6.91672 5.51672 7.10005 5.70005L12 10.6L16.9 5.70005C17.0834 5.51672 17.3167 5.42505 17.6 5.42505C17.8834 5.42505 18.1167 5.51672 18.3 5.70005C18.4834 5.88338 18.575 6.11672 18.575 6.40005C18.575 6.68338 18.4834 6.91672 18.3 7.10005L13.4 12L18.3 16.9C18.4834 17.0834 18.575 17.3167 18.575 17.6C18.575 17.8834 18.4834 18.1167 18.3 18.3C18.1167 18.4834 17.8834 18.575 17.6 18.575C17.3167 18.575 17.0834 18.4834 16.9 18.3L12 13.4Z"
                  fill="black"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="button-row">
      <button
        type="submit"
        [disabled]="addUserForm.invalid"
        (mouseenter)="toggleHover()"
        (mouseleave)="toggleHover()"
        [ngClass]="{
          'btn-primary': addUserForm.valid,
          'btn-primary-disabled': addUserForm.invalid,
          'btn-primary-hover': isHovered
        }"
      >
        Erstellen
      </button>
    </div>
  </form>
</div>
