.main-div {
    height: 100vh;
    background-color: #ECEEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-box {
    position: absolute;
    top: 25px;
    left: 50px;

    img {
        width: 240px;
        height: 70px;
    }
}

.main-card {
    max-width: 698px;
    width: 90%;
    max-height: 469px;
    border-radius: 30px;
}

.mat-card {
    border: none;
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 40px 0;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}

.card-content {
    padding: 0;
    
}


.svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 5px 5px;

    &:hover {
        background-color: rgb(236, 238, 254);
        cursor: pointer;
    }
}

.icon path {
    fill: black;
}

.icon:hover path {
    fill: #444DF2;
    border-radius: 100%;
    background-color: aqua;
    cursor: pointer;
}

.main-title {
    padding: 0 32px;
}

.main-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.title-info {
    margin: 0 auto;

    h1 {
        font-size: 46px;
        font-weight: 700;
        line-height: 55.2px;
        text-align: center;
        color: #444DF2;
        cursor: default;
    }
}

.email-info {
    padding: 0 138px;
    margin-top: 33px;
    display: flex;
    justify-content: center;

    span {
        font-family: Nunito;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #000000;
        cursor: default;
    }
}


.submit-box {
    padding: 0 138px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}  

button {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #686868;
    padding: 12px 25px;
    background-color: #686868;
    color: white;
    cursor: pointer;
}  


.email-text-info {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #686868;
    cursor: default;
    margin-top: 40px;
}

.false-email-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: red;
    cursor: default;
    text-align: left;
}

.button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.email-input {
    background-color: #eceefe;
    display: flex;
    gap: 10px;
    padding: 18px 32px 18px 87px;
    width: 100%;
    height: 60px;
    border-radius: 100px;
    border: 2px solid transparent;
    cursor: pointer;
    background-image: url('../../assets/img/mail.svg');
    background-repeat: no-repeat;
    background-position: 32px center;
    background-size: 24px 24px;
    font-family: "Nunito";

    &:hover {
        outline: 2px solid grey;
    }

    &:focus {
        border-color: #444DF2;
        outline: none;
    }
}

.impressum-privacy-box {
    position: absolute;
    top: 100%;
    background-color: #eceefe;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;

}

.impressum-privacy-box {
    a {
        text-decoration: none;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        margin-left: 30px;
        color: #797EF3;
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
            box-sizing: border-box;
            outline: 1px solid #797EF3;
            padding: 10px 15px;
            border-radius: 25px;
            color: #444DF2;
        }
    }
}

.email-sended-info {
    max-width: 441px;
    background-color: #444DF2;
    color: white;
    box-shadow: 0px 6px 10px 0px #00000033;
    border-bottom-right-radius: unset;
    padding: 25px 25px;
    z-index: 4;
    position: absolute;
    top: 87%;
    left: auto;
    right: -29px;
    transform: translateX(500px);
    transition: transform 0.5s ease-in-out;
}



.email-sended-info.hidden {
    opacity: 0;
    transform: translateX(500px);
}

.email-sended-info.visible {
    transform: translateX(-100px);
}

.email-card-content {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 28px;


    img {
        width: 40px;
        height: 40px;
    }

    span {
        font-size: 36px;
        font-weight: 700;
        line-height: 49.1px;
        text-align: left;
        cursor: default;
    }
}
  

.btn-primary-click {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #444df2;
    color: white;
    cursor: pointer;

        &:hover{
            font-family: "Nunito";
            font-size: 18px;
            font-weight: 700;
            border-radius: 25px;
            padding: 12px 25px;
            background-color: #797ef3;
            color: white;
            cursor: pointer;
        }
  }


@media(max-width:803px) {
    .submit-box {
        padding: 0 20px;
    }

    .email-info {
        padding: 0 20px;
    }

    .image-box {
        position: absolute;
        top: 25px;
        left: unset;
    }
}
  

@media(max-width:688px){

    .email-sended-info{
        padding: 10px 10px;
        top: 92%;
        right:-71px;
    } 

    .email-card-content{
        span{
            font-size: 22px;
        } 

         img{
            width: 20px;
            height: 20px;
         }
    }
}

@media(max-width:470px) {
    .title-info {
        h1 {
            font-size: 32px;
        }
    }

    .image-box {

        img {
            width: 204px;
            height: 56px;
        }
    }

    .email-text-info {
        font-size: 16px;
    }

    .email-info {
        span {
            font-size: 16px;
        }
    }  

    .button-box{
        button{
            font-size: 16px;
            padding: 10px 20px;
        }
    }

    .main-title {
        align-items: baseline;
        gap: 10px;
    }
} 


@media(max-width:379px){
    .email-input{
        padding: 18px 32px 18px 62px;
        background-position: 15px center;
    }  

    .email-sended-info{
        padding: 5px 5px;
        top: 95%;
        right: -83px;
    } 

    .email-card-content{
        gap: 11px;
        span{
            font-size: 16px;
          
        } 

         img{
            width: 20px;
            height: 20px;
         }
    }
} 

@media(max-width:350px){
    .mat-card{
        padding: 20px 0;
    }
}
