.main-header {
    background-color: #eceefe;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    img {
        width: 245px;
        height: 70px;
        object-fit: contain;
    }
}

.header-content {
    display: flex;
    width: 2000px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

input {
    font-family: "Nunito";
    max-width: 989px;
    width: 100%;
    height: 70px;
    border-radius: 42px;
    padding: 17px 45px;
    background-color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.74px;
    color: #686868;
    background-image: url('../../assets/img/search_input.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 17px) center;
    background-size: 25px 25px;
    cursor: default;

    &:focus {
        border: none;
        outline: none;
    }
}


.user-info {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    &:hover {

        svg {
            path {
                fill: #444DF2;
            }
        }
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 43.65px;
        color: #000000;
        white-space: nowrap;
    }

    .user-img {
        width: 70px;
        height: 70px;
        border-radius: 40px;
    }

    svg {
        width: 13px;
        height: 8px;

        path {
            fill: #000000;
        }
    }
}

.arrow-down-btn{
    border: none;
    cursor: pointer;
    background-color: #eceefe;
    .svg-down{
        position: relative;
        z-index: 20;
    }
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10; 
}


