.card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }
}

.status-container,
.email-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.status-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.online {
  display: block;
  background-color: #92c83e;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.offline {
  display: block;
  background-color: #757575;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.online-text {
  color: #92c83e;
}

.offline-text {
  color: #757575;
}

.button-row {
  display: flex;
  justify-content: center;
  button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.email {
  color: #1381FF;
}

.contact-container {
  display: flex;
  gap: 15px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;

    .icon path {
      fill: #444df2;
    }
  }
}