.main-avatar {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceefe;
    flex-direction: column;
}

.image-box {
    position: absolute;
    top: 75px;
    left: 75px;

    img {
        width: 242px;
        height: 70px;
    }
}

.main-card {
    border-radius: 30px;
    width: 90%;
    max-width: 606px;
    max-height: 669px;
    margin-top: 77px;

}

.mat-card {
    border: none;
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 40px 0px;
    background-color: #FFFFFF;
}

.card-content {
    padding: 0;
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}


.title-div {
    padding-left: 32px;
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 0 auto;

    h1 {
        font-size: 46px;
        font-weight: 700;
        color: #444DF2;
        line-height: 55.2px;
        cursor: default;
    }
}

.svg-box {
    cursor: pointer;
    width: 1px;
}

.svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    &:hover {
        background-color: rgb(236, 238, 254);
        cursor: pointer;
    }
}

.icon path {
    fill: black;
}

.icon:hover path {
    fill: #444DF2;
    border-radius: 100%;
}

.main-picture-box {
    padding: 0 67px;
    display: flex;
    flex-direction: column;
}

.picture-frame {
    display: flex;
    justify-content: center;
    margin: 0 auto;


    img {
        width: 168px;
        height: 168px;
    }

    &:hover {
        box-sizing: border-box;
        outline: 7px solid #E6E6E6;
        border-radius: 100%;
        cursor: pointer;
    }
}

.user-name {
    text-align: center;
    margin-top: 32px;

    h2 {
        color: #000000;
        font-size: 32px;
        font-weight: 700;
        line-height: 43px;
        cursor: default;
    }
}

.user-info {
    font-weight: 400;
    color: #000000;
    line-height: 27px;
    text-align: start;
    cursor: default;
}

.avatar-box {
    margin-top: 16px;

    img {
        height: 64px;
        width: 64px;

        &:hover {
            box-sizing: border-box;
            outline: 3px solid #E6E6E6;
            outline-offset: 0;
            border-radius: 100%;
            cursor: pointer;
        }
    }
}

.added-avatar {
    display: flex;
    margin-top: 36px;
    gap: 24px;
}

.picture-info-text {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 27px;
    cursor: default;
}


label {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #797EF3;
    color: #797EF3;
    padding: 12px 25px;
    background-color: white;

    &:hover {
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 700;
        border-radius: 25px;
        padding: 12px 25px;
        background-color: #535AF1;
        color: white;
        cursor: pointer;
    }
}

.input-box {
    margin-top: 80px;
}

.button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}

.btn-primary:hover {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #797EF3;
    color: white;
    cursor: pointer;
}


.impressum-privacy-box {
    position: absolute;
    top: 94%;

}

.impressum-privacy-box {

    a {
        text-decoration: none;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        margin-left: 30px;
        color: #797EF3;
        padding: 10px 15px;

        &:hover {
            box-sizing: border-box;
            outline: 1px solid #797EF3;
            padding: 10px 15px;
            border-radius: 25px;
            color: #444DF2;
        }
    }
}