.main-avatar {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceefe;
}

.image-box {
    position: fixed;
    top: 75px;
    left: 75px;

    img {
        width: 242px;
        height: 70px;
    }
}

.main-card {
    border-radius: 30px;
    width: 90%;
    max-width: 606px;
    max-height: 669px;
}

.mat-card {
    border: none;
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 40px 0px;
    background-color: #FFFFFF;
}

.card-content {
    padding: 0;
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}


.title-div {
    padding-left: 32px;
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 0 auto;

    h1 {
        font-size: 46px;
        font-weight: 700;
        color: #444DF2;
        line-height: 55.2px;
    }
}

.svg-box {
    cursor: pointer;
    width: 1px;
}

.svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    &:hover {
        background-color: rgb(236, 238, 254);
        cursor: pointer;
    }
}

.icon path {
    fill: black;
}

.icon:hover path {
    fill: #444DF2;
    border-radius: 100%;
}

.main-picture-box {
    padding: 0 67px;
    display: flex;
    flex-direction: column;
}

.picture-frame {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
        width: 168px;
        height: 168px;
    }
}

.user-name{
    text-align: center;
    margin-top: 32px;
    h2{
        color: #000000;
        font-size: 32px;
        font-weight: 700;
        line-height: 43px;
    }
}

.user-info{
    font-weight: 400;
    color: #000000;
    line-height: 27px;
    text-align: start;
}