.main-avatar {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceefe;
  flex-direction: column;
  position: relative;
}

.image-box {
  position: absolute;
  top: 75px;
  left: 75px;
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    height: 70px;
  }
}

.main-card {
  border-radius: 30px;
  width: 90%;
  max-width: 606px;
  max-height: 669px;
  margin-top: 77px;
}

.mat-card {
  border: none;
  box-shadow: 0px 2px 10px 0px #00000014;
  padding: 40px 0px;
  background-color: #ffffff;
  border-radius: 30px;
}

.card-content {
  padding: 0;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.title-div {
  padding-left: 32px;
  display: flex;
  align-items: center;
  gap: 19px;
  margin: 0 auto;

  h1 {
    font-size: 46px;
    font-weight: 700;
    color: #444df2;
    line-height: 55.2px;
    cursor: default;
  }
}

.svg-box {
  cursor: pointer;
  width: 1px;
}

.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;

  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;
  }
}

.icon path {
  fill: black;
}

.icon:hover path {
  fill: #444df2;
  border-radius: 100%;
}

.main-picture-box {
  padding: 0 67px;
  display: flex;
  flex-direction: column;
}

.picture-frame {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  img {
    width: 168px;
    height: 168px;
  }

  &:hover {
    box-sizing: border-box;
    outline: 7px solid #e6e6e6;
    border-radius: 100%;
    cursor: pointer;
  }
}

.user-name {
  text-align: center;
  margin-top: 32px;

  h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    cursor: default;
  }
}

.user-info {
  font-weight: 400;
  color: #000000;
  line-height: 27px;
  text-align: start;
  cursor: default;
  font-size: 20px;
}

.avatar-box {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    &:hover {
      box-sizing: border-box;
      outline: 3px solid #e6e6e6;
      outline-offset: 0;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}

.added-avatar {
  display: flex;
  margin-top: 36px;
  gap: 24px;
}

.picture-info-text {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 27px;
  cursor: default;
}

label {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid #797ef3;
  color: #797ef3;
  padding: 12px 25px;
  background-color: white;

  &:hover {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #535af1;
    color: white;
    cursor: pointer;
  }
}

.input-box {
  margin-top: 80px;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}

.btn-primary:hover {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  padding: 12px 25px;
  background-color: #797ef3;
  color: white;
  cursor: pointer;
}

.impressum-privacy-box {
  position: absolute;
  top: 100%;
  background-color: #eceefe;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.impressum-privacy-box {
  a {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 30px;
    color: #797ef3;
    padding: 10px 15px;

    &:hover {
      box-sizing: border-box;
      outline: 1px solid #797ef3;
      padding: 10px 15px;
      border-radius: 25px;
      color: #444df2;
    }
  }
}

.avatar-abstract-title {
  display: none;
}

.avatar-h1-second {
  text-align: center;
  margin-left: -56px;
}

.avatar-h1 {
  margin-left: -60px;
}

.email-sended-info {
  max-width: 441px;
  background-color: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  border-bottom-right-radius: unset;
  padding: 25px 25px;
  z-index: 4;
  position: absolute;
  top: 91%;
  left: auto;
  right: -29px;
  transform: translateX(500px);
  transition: transform 0.5s ease-in-out;
}

.email-sended-info.hidden {
  opacity: 0;
  transform: translateX(500px);
}

.email-sended-info {
  max-width: 441px;
  background-color: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  border-bottom-right-radius: unset;
  padding: 25px 25px;
  z-index: 4;
  position: absolute;
  top: 91%;
  left: auto;
  right: -29px;
  transform: translateX(500px);
  transition: transform 0.5s ease-in-out;
}

.email-sended-info.hidden {
  opacity: 0;
  transform: translateX(500px);
}

.email-sended-info.visible {
  transform: translateX(-100px);
}

.email-card-content {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 28px;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    font-size: 25px;
    font-weight: 700;
    line-height: 49.1px;
    text-align: left;
    cursor: default;
  }
}

@media (max-width: 1349px) {
  .email-sended-info {
    padding: 10px 10px;
    top: 92%;
    right: -71px;
  }

  .email-card-content {
    span {
      font-size: 22px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 650px) {
  .email-sended-info {
    padding: 5px 5px;
    top: 95%;
    right: -83px;
  }

  .email-card-content {
    gap: 11px;
    span {
      font-size: 16px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 610px) {
  .email-sended-info {
    padding: 5px 5px;
    top: 93%;
    right: -83px;
  }
}

@media (max-width: 860px) {
  .image-box {
    position: absolute;
    top: 25px;
    left: unset;

    img {
      width: 204px;
      height: 56px;
    }
  }
}

@media (max-width: 650px) {
  .email-sended-info {
    padding: 5px 5px;
    top: 95%;
    right: -83px;
  }

  .email-card-content {
    gap: 11px;
    span {
      font-size: 16px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 610px) {
  .email-sended-info {
    padding: 5px 5px;
    top: 93%;
    right: -83px;
  }
}

@media (max-width: 679px) {
  .main-picture-box {
    padding: 0 21px;
  }

  .title-div {
    padding-left: 10px;
  }
}

@media (max-width: 610px) {
  .title-div {
    h1 {
      font-size: 32px;
    }
  }

  .picture-frame {
    img {
      width: 120px;
      height: 120px;
    }
  }

  .avatar-box {
    img {
      width: 48px;
      height: 48px;
    }
  }

  @media (max-width: 578px) {
    label {
      padding: 7px 9px;
    }
  }
}

@media (max-width: 543px) {
  .picture-info-text {
    font-size: 16px;
  }

  .user-info {
    font-size: 16px;
  }
}

@media (max-width: 458px) {
  .mat-card {
    padding: 26px 0;
  }

  .avatar-title {
    display: none;
  }

  .avatar-abstract-title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .title-div {
    align-items: baseline;
  }
}

@media (max-width: 389px) {
  .avatar-box {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
