.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 5px 5px rgba(136, 136, 136, 0.25);
  width: 100%;
  position: absolute;
  top: 0;
}
.big-chat-card {
  position: relative;
  max-width: 1600px;
  min-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.drop-down-div {
  display: flex;
  align-items: center;
  height: 96px;
  position: absolute;
  left: 20px;
}

.mat-mdc-button:not(:disabled) {
  color: black;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito";
  &:hover {
    color: #444df2;
  }
  img {
    object-fit: contain;
    width: 25px;
    height: 30px;
  }
}

.btn-text-img {
  display: flex;
  align-items: center;
}

.groupchat-header-img-box {
  display: flex;
  align-items: center;
  height: 96px;
  gap: 36px;
  button {
    display: flex;
    align-items: center;
    img {
      width: 36px;
      height: auto;
      margin-right: 4px;
    }
  }
}

.add-btn {
  width: 34px;
  height: 32px;
  background-color: #eceefe;
  border-radius: 20px;
  border-style: none;
  img {
    &:hover {
      scale: 1.2;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
        saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}

.input-container:focus-within img {
  fill: black;
  filter: brightness(0) saturate(100%);
}

.chat-member-number {
  font-size: 20px;
  height: 20px;
  font-weight: 600;
  margin: 0 0 6px 10px;
}

.msg-input-ct {
  display: flex;
  padding: 32px;
}

.chat-input {
  flex: 1;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  height: 150px;
  padding: 20px 8px 8px 16px;
  position: relative;
  &:focus {
    border-color: #444df2;
    outline: none;
    font-size: 18px;
  }
  &::placeholder {
    font-size: 18px;
    font-family: "Figtree";
    font-weight: 400;
    color: grey;
    opacity: 0.9;
  }
}

.interactions-send-msg-ct {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 35px;
  justify-content: space-between;
  width: calc(100% - 90px);
}

.only-interactions-bottom-ct {
  display: flex;
  gap: 8px;
  margin-left: 10px;
  align-items: center;
}

.plus-separator-flex {
  display: flex;
  gap: 4px;
  object-fit: cover;
  div{
    &:hover{
      background-color: #eceefe;
      border-radius: 20px;
      height: 38px;
    }
  }
  .plus {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
        saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}

.emoji-at-ct {
  display: flex;
  align-items: center;
  div{
    &:hover{
      background-color: #eceefe;
      border-radius: 20px;
      height: 38px;
    }
  }
  img {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
        saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}

.msg-send {
  width: 42px;
  align-self: center;
  &:hover {
    filter: brightness(1.8);
  }
}

.mat-mdc-card {
  border-style: none;
}
