<div class="full-page-content">
    <mat-card class="big-chat-card" appearance="outlined">
        <mat-card-header class="header">
            <div class="drop-down-div">
                <button class="drop-down-button" mat-button><span class="btn-text-img"># Entwicklerteam<img
                            src="./assets/img/arrow_drop_down.svg"></span></button>
            </div>
            <div class="groupchat-header-img-box">
                <button mat-button>
                    <img src="./assets/img/character_man2.svg" alt="">
                    <img src="./assets/img/character_man2.svg" alt="">
                    <img src="./assets/img/character_man2.svg" alt="">
                    <span class="chat-member-number">3</span>
                </button>
                <button class="add-btn"> <img src="./assets/img/person_add.svg"></button>
            </div>
        </mat-card-header>
        <div class="msg-input-ct">
            <label for="msg-input"></label>
            <textarea placeholder="Nachricht an #Entwicklerteam" class="chat-input" type="text"
                ></textarea>
            <div class="interactions-send-msg-ct">
                <div class="only-interactions-bottom-ct">
                    <div class="plus-separator-flex">
                        <div><img class="plus" src="./assets/img/add_reaction.png"></div>
                        <img src="./assets/img/vector_4.svg">
                    </div>
                    <div class="emoji-at-ct">
                        <div> <img src="./assets/img/emoji.svg"></div>
                        <div> <img src="./assets/img/at_react.svg"></div>
                    </div>
                </div>
                <img class="msg-send" src="./assets/img/msg_send.svg">
            </div>
        </div>
    </mat-card>
</div>