<mat-card class="big-chat-card" appearance="outlined">
    <mat-card-header class="header">
        <div class="drop-down-div">
            <button class="drop-down-button" mat-button><span class="btn-text-img"># Entwicklerteam<img
                        src="./assets/img/arrow_drop_down.svg"></span></button>
        </div>
        <div class="groupchat-header-img-box">
            <button mat-button>
                <img src="./assets/img/character_man2.svg" alt="">
                <img src="./assets/img/character_man2.svg" alt="">
                <img src="./assets/img/character_man2.svg" alt="">
                <span class="chat-member-number">3</span>
            </button>
            <img class="add-btn" src="./assets/img/add_members_btn.svg">
        </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>