mat-card {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 5px 5px rgba(136, 136, 136, 0.25);
  width: 100%;
  position: absolute;
  top: 0;
}

.big-chat-card {
  position: relative;
  max-width: 1600px;
  min-width: 990px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.drop-down-div {
  display: flex;
  align-items: center;
  height: 96px;
  position: absolute;
  left: 20px;
}

.mat-mdc-button:not(:disabled) {
  color: black;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito";

  &:hover {
    color: #444df2;
  }

  img {
    object-fit: contain;
    width: 25px;
    height: 30px;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;

    .icon path {
      fill: #444df2;
    }
  }
}

.members-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.member-avatars {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3px 10px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background: #eceefe;
  }
  &:hover > .member-count span {
    color: #535af1;
  }
}

.member-count {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  height: 40px;
  border-radius: 100%;
  margin-left: -12px;
  border: 2px solid white;
}

.avatar:first-child {
  margin: 0;
}

.btn-text-img {
  display: flex;
  align-items: center;
}

.groupchat-header-img-box {
  display: flex;
  align-items: center;
  height: 96px;
  gap: 36px;

  button {
    display: flex;
    align-items: center;

    img {
      width: 36px;
      height: auto;
      margin-right: 4px;
    }
  }
}

.add-btn {
  width: 34px;
  height: 32px;
  background-color: #eceefe;
  border-radius: 20px;
  border-style: none;

  img {
    &:hover {
      scale: 1.2;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
        saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}

.input-container:focus-within img {
  fill: black;
  filter: brightness(0) saturate(100%);
}

.chat-member-number {
  font-size: 20px;
  height: 20px;
  font-weight: 600;
  margin: 0 0 6px 10px;
}

.msg-input-ct {
  display: flex;
  padding: 32px;
}

.chat-input {
  flex: 1;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  height: 150px;
  padding: 20px 8px 8px 16px;
  position: relative;
  resize: none;

  &:focus {
    border-color: #444df2;
    outline: none;
    font-size: 18px;
  }

  &::placeholder {
    font-size: 18px;
    font-family: "Figtree";
    font-weight: 400;
    color: grey;
    opacity: 0.9;
  }
}

.interactions-send-msg-ct {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 35px;
  justify-content: space-between;
  width: calc(100% - 90px);
}

.only-interactions-bottom-ct {
  display: flex;
  gap: 8px;
  margin-left: 10px;
  align-items: center;
}

.plus-separator-flex {
  display: flex;
  gap: 4px;
  object-fit: cover;

  div {
    &:hover {
      background-color: #eceefe;
      border-radius: 20px;
      height: 38px;
    }
  }

  .plus {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
        saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}

.emoji-at-ct {
  display: flex;
  align-items: center;

  div {
    &:hover {
      background-color: #eceefe;
      border-radius: 20px;
      height: 38px;
    }
  }

  img {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
        saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}

.msg-send {
  width: 34px;
  align-self: center;
  margin-bottom: 4px;

  &:hover {
    filter: brightness(1.8);
  }
}

.mat-mdc-card {
  border-style: none;
}

/* styling for single-chat box rendering*/
.time-display-flex {
  display: flex;
  position: relative;
  bottom: 64px;

  img {
    width: 100%;
  }

  div {
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    height: 35px;
    font-size: 18px;
    border: 1px solid #adb0d9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -11px;
    background-color: white;
    white-space: nowrap;
  }
}

.single-user-chat-section {
  display: flex;
  flex-direction: column;
  position: relative;

  .profile-picture {
    width: 70px;
    position: absolute;
    right: 18px;
    object-fit: contain;
  }
}

.name-time-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  gap: 22px;

  span {
    white-space: nowrap;
    font-size: 14px;
    color: gray;
    font-weight: 400;
  }
}

.name-and-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  position: relative;

  p {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 8%;
  }
}

.avatar-name-flex {
  img {
    width: 42px;
  }
}

.text-msg-bubble {
  margin-left: 25%;
  background: #797ef3;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  padding: 15px;
  border-radius: 30px 0px 30px 30px;
  max-width: 60%;
  color: white;
  margin-bottom: 36px;
}

.full-single-chat-content {
  height: fit-content;
  padding-bottom: 112px;
}

.reverse {
  align-items: flex-start;
}

.reverse-img {
  position: absolute;
  left: 18px;
  width: 70px;
}

.reverse-bubble {
  border-radius: 0 30px 30px 30px;
  background-color: #eceefe;
  color: black;
}

.reverse-name-time {
  justify-content: end;
  flex-direction: row;
  width: 308px;
}

.respond-display {
  display: flex;
  align-items: baseline;
  gap: 10px;
  position: absolute;
  bottom: -5px;
  white-space: nowrap;

  .number-responds {
    font-size: 18px;
    color: #535af1;
    cursor: pointer;

    &:hover {
      color: blue;
      font-weight: 700;
    }
  }

  .latest-interaction {
    font-size: 14px;
    color: gray;
  }
}

.interaction-display {
  display: flex;
  gap: 12px;
  width: fit-content;
  position: absolute;
  right: 112px;
  bottom: -8px;

  .show-interaction {
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    height: 35px;
    border: 1px solid #adb0d9;
    border-radius: 50px;

    span {
      font-size: 16px;
      font-weight: 700;
    }

    img {
      object-fit: contain;
      width: 24px;
    }
  }
}

.start-interaction-ct {
  display: flex;
  align-items: center;

  img {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(51%) sepia(51%) saturate(937%)
        hue-rotate(203deg) brightness(93%) contrast(106%);
    }
  }
}

.user-chat-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;
  height: 58px;
  h4 {
    white-space: nowrap;
    padding-right: 12px;
  }
  &:hover {
    background: #eceefe;
    border-radius: 30px;

    h4 {
      color: #444df2;
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    color: #000000;
  }
}

.chat-info {
  left: 45px;
  top: 439px;
  padding: 0 45px;

  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.28px;
    color: #686868;
    cursor: pointer;
  }
}

.chat-info.upstairs {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.user-box {
  display: flex;
  align-items: flex-end;
  gap: 25px;

  h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    color: #000000;

    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.malito-a {
  text-decoration: none;
  color: #535af1;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  text-align: left;
}

.main-day-info {
  padding: 0 35px;
  position: absolute;
  top: 17px;
  width: 100%;
  cursor: default;
}

.line {
  width: 100%;
  border: 1px solid #adb0d9;
}

.day-info {
  display: flex;
  align-items: center;
}

.day-span {
  border-radius: 30px;
  border: 1px solid #adb0d9;
  padding: 5px 15px;
  background-color: #ffffff;
  position: absolute;
  right: 50%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: left;
  color: #000000;
}

.main-current-messagebox {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 437px;
  overflow-y: auto;
  margin-top: -28px;
}

.main-mesage-info-current {
  width: 100%;
  position: relative;
  margin-top: 0;
  padding: 5px 0;
  top: 44px;
  margin-top: 37px;

  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    .comment-box-current {
      left: 50px;
      opacity: 1;
      cursor: pointer;
    }

    .show-comment-stricker {
      background-color: #ffffff;
    }

    .show-stricker {
      background-color: #ffffff;
      border-radius: 100%;
    }
  }
}

.main-message-info-user {
  width: 100%;
  position: relative;
  margin-top: 0;
  padding: 5px 0;
  top: 44px;
  margin-top: 37px;

  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    .comment-box-user {
      right: 50px;
      opacity: 1;
      cursor: pointer;
    }

    .message-card-user {
      background-color: #ffffff;
    }

    .show-comment-stricker {
      background-color: #ffffff;
    }

    .show-stricker {
      background-color: #ffffff;
      border-radius: 100%;
    }
  }
}

.message-content-current {
  margin: 15px 145px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.message-content-user {
  margin: 15px 145px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.current-name-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-name-box {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.message-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  color: #686868;
}

.sender-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  color: #000000;
}

.message-card-current {
  max-height: 105px;
  background-color: #797ef3;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: max-content;
}

.message-card-user {
  max-height: 105px;
  background-color: #eceefe;
  border-top-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: max-content;
}

.card-content-current {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #ffffff;
}

.card-content-user {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  color: #000000;
}

.avatar-box {
  display: flex;
  align-items: center;
  gap: 21px;
  position: relative;

  img {
    width: 23px;
    height: 21px;
  }
}

.show-stricker {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;

  &:hover {
    background-color: unset !important;
    border-radius: unset !important;

    .show-sticker-card {
      opacity: 1;
    }

    svg {
      path {
        fill: #444df2;
      }
    }
  }
}

.show-sticker-card {
  position: absolute;
  top: -153px;
  left: 29px;
  background-color: #444df2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show-sticker-card.opacity {
  position: absolute;
  top: -153px;
  left: 29px;
  opacity: 1;
}

.show-sticker-cardContent {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0 5px;
}

.show-sticker-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #ffffff;
    border-radius: 100%;
  }
}

.show-sticker-box.backColor-current {
  background-color: #ffffff;
  border-radius: 100%;

  &:hover {
    background-color: #444df2;
  }
}

.show-sticker-box.backColor-user {
  background-color: #ffffff;
  border-radius: 100%;

  &:hover {
    background-color: #444df2;
  }
}

.sender-picture {
  width: 70px;
  height: 70px;
}

.picture-box-current {
  position: absolute;
  right: 45px;
}

.picture-box-user {
  position: absolute;
  left: 45px;
}

.comment-box-current {
  position: absolute;
  left: 40px;
  opacity: 0;
  border: 1px solid #adb0d9;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  top: -22px;
  transition: left 0.3s ease, opacity 0.3s ease;
}

.comment-box-current.position {
  left: 50px;
  opacity: 1;
}

.comment-box-user {
  position: absolute;
  right: 40px;
  opacity: 0;
  border: 1px solid #adb0d9;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  top: -22px;
  transition: right 0.3s ease, opacity 0.3s ease;
}

.comment-box-user.position-user {
  right: 50px;
  opacity: 1;
}

.comment-content {
  display: flex;
  align-items: center;
}

.comment-stricker {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #eceefe;
    border-radius: 100%;
  }
}

.comment-stricker.backColor-current {
  background-color: #eceefe;
  border-radius: 100%;

  &:hover {
    background-color: #444df2;
  }
}

.comment-stricker.backColor-user {
  background-color: #eceefe;
  border-radius: 100%;

  &:hover {
    background-color: #444df2;
  }
}

.add-reaction {
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #eceefe;
    border-radius: 100%;

    svg {
      path {
        fill: #444df2;
      }
    }
  }
}

.add-reaction.hidden {
  display: none;
}

.open-thread {
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #eceefe;
    border-radius: 100%;

    svg {
      path {
        fill: #444df2;
      }
    }
  }
}

.edit-message {
  &:hover {
    .edit-messages-card {
      opacity: 1;
    }
  }
}

.edit-icon {
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #eceefe;
    border-radius: 100%;

    .edit-messages-card {
      opacity: 1;
    }

    svg {
      path {
        fill: #444df2;
      }
    }
  }
}

.edit-messages-card {
  position: absolute;
  left: 194px;
  top: 22px;
  max-width: max-content;
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  opacity: 1;
  max-width: max-content;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.edit-message-content {
  color: #000000;
  width: 100%;

  span {
    padding: 7px;
  }

  &:hover {
    span {
      color: #444df2;
      background-color: #eceefe;
      border: 0 solid;
      border-radius: 30px;
    }
  }
}

.edit-mesage-box {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.edit-input {
  width: 88%;
  height: 148px;
  padding: 16px;
  resize: none;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  font-family: Nunito, "Helvetica Neue";
  font-size: 18px;

  &:focus {
    border-color: #444df2;
    outline: none;
  }
}

.button-box {
  position: absolute;
  left: 58%;
  top: 90px;
  display: flex;
  gap: 10px;
}

.comment-icon-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #eceefe;
    border-radius: 100%;
  }
}

.comment-icon-box.backColor-current {
  background-color: #eceefe;
  border-radius: 100%;

  &:hover {
    background-color: #444df2;
  }
}

.comment-icon-box.backColor-user {
  background-color: #eceefe;
  border-radius: 100%;

  &:hover {
    background-color: #444df2;
  }
}

.show-comment-stricker {
  display: flex;
  border: 1px solid #adb0d9;
  padding: 1px;
  border-radius: 16px;
  padding: 5px;
  gap: 6px;

  &:hover {
    border-color: #444df2;
  }
}

.sticker-senderName-current {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #444df2;
  color: #ffffff;
  position: absolute;
  width: 167px;
  top: -94px;
  left: 27px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sticker-senderName-current.hovered {
  opacity: 1;
  z-index: 200;
}

.sticker-senderName-current.hoveredRecipienUser {
  left: 95px;
}

.sticker-senderName-user {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 30px;
  background-color: #444df2;
  color: #ffffff;
  position: absolute;
  width: 167px;
  top: -94px;
  left: -132px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sticker-senderName-user.hovered {
  opacity: 1;
  z-index: 200;
}

.sticker-senderName-user.hoveredSenderName {
  position: absolute;
  width: 167px;
  top: -94px;
}

.sticker-senderName-user.hoveredName {
  position: absolute;
  top: -94px;
  left: -58px;
}

.sticker-senderName-user.seperateName {
  position: absolute;
  left: -130px;
}

.sticker-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticker-sender-name {
  text-align: center;
}
