<div class="full-page-content">
    <mat-card class="big-chat-card" appearance="outlined">
        <mat-card-header class="header">
            <div class="drop-down-div">
                <!-- <button class="drop-down-button" mat-button><span class="btn-text-img"># Entwicklerteam<img
                            src="./assets/img/arrow_drop_down.svg"></span></button> -->
                <div class="user-chat-info">
                    <img [src]="selectedUser?.picture">
                    <h4>{{selectedUser?.name}}</h4>
                </div>
            </div>
            <!-- <div class="groupchat-header-img-box">
                <button mat-button>
                    <img src="./assets/img/character_man2.svg" alt="">
                    <img src="./assets/img/character_man2.svg" alt="">
                    <img src="./assets/img/character_man2.svg" alt="">
                    <span class="chat-member-number">3</span>
                </button>
                <button class="add-btn"> <img src="./assets/img/person_add.svg"></button>
            </div> -->
        </mat-card-header>
        <!-- Single-Chatbox fürs Rendern -->
        <!-- <div class="full-single-chat-content">
            <div class="time-display-flex">
                <img class="profile-picture" src="./assets/img/time_separator_line.svg">
                <div class="time-output">
                    <span>Dienstag,14 Januar {{selectedUser?.name}}</span>
                </div>
            </div>
            <div class="single-user-chat-section reverse">
                <img class="reverse-img" src="./assets/img/character_man2.svg">
                <div class="name-and-bubble">
                    <div class="name-time-flex reverse-name-time">
                        <p>Noah Braun</p>
                        <span>14:25 Uhr</span>
                    </div>
                    <div class="text-msg-bubble reverse-bubble">
                        Welche Version ist aktuell von Angular?
                    </div>
                    <div class="respond-display">
                        <span class="number-responds">2 Antworten</span>
                        <span class="latest-interaction">Letzte Antwort 14:56</span>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Ende Chatbox -->

        <!-- Single-Chatbox fürs Rendern -->

        <!-- <div clas="full-single-chat-content">
            <div class="time-display-flex">
                <img src="./assets/img/time_separator_line.svg">
                <div class="time-output">
                    <span>Heute</span>
                </div>
            </div>
            <div class="single-user-chat-section">
                <img class="profile-picture" src="./assets/img/character_man2.svg">
                <div class="name-and-bubble">
                    <div class="name-time-flex">
                        <p>Frederik Beck</p>
                        <span>15:06 Uhr</span>
                    </div>
                    <div class="text-msg-bubble">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sed ad culpa aliquid fugit
                        laudantium.
                        Ea, nulla ut labore consequuntur ratione suscipit exercitationem veritatis tempore, veniam natus
                        dolorem,
                        provident iure?
                    </div>
                </div>
                <div class="interaction-display">
                    <div class="show-interaction">
                        <img src="./assets/img/rocket.svg">
                        <span>1</span>
                    </div>
                    <div class="show-interaction">
                        <img src="./assets/img/check.svg">
                        <span>1</span>
                    </div>
                    <div class="start-interaction-ct">
                        <img src="./assets/img/start-interaction.svg" alt="">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Ende Chatbox -->
        <div class="chat-info">
            <div class="user-box">
                <img [src]="selectedUser?.picture">
                <h4>{{selectedUser?.name}}</h4>
            </div>
            <span>Diese Unterhaltung findet nur zwischen <a class="malito-a" href="">&#64;{{selectedUser?.name}} </a>und
                dir statt.</span>
        </div>



        <div class="msg-input-ct">
            <label for="msg-input"></label>
            <textarea placeholder="Nachricht an #Entwicklerteam" class="chat-input" type="text"></textarea>
            <div class="interactions-send-msg-ct">
                <div class="only-interactions-bottom-ct">
                    <div class="plus-separator-flex">
                        <div><img class="plus" src="./assets/img/add_reaction.png"></div>
                        <img src="./assets/img/vector_4.svg">
                    </div>
                    <div class="emoji-at-ct">
                        <div> <img src="./assets/img/emoji.svg"></div>
                        <div> <img src="./assets/img/at_react.svg"></div>
                    </div>
                </div>
                <img class="msg-send" src="./assets/img/msg_send.svg">
            </div>
        </div>
    </mat-card>

</div>