.profile-card-ct {
  position: absolute;
  z-index: 50;
  height: 705px;
  background-color: white;
  top: 0px;
  width: 650px;
  right: 0px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
}

.name-escape-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0 32px 26px 32px;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  > div {
    padding: 4px;
    background-color: white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: #eceefe;
    }
    img {
      object-fit: contain;
      &:hover {
        scale: 1.1;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
          saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
      }
    }
  }
}

.img-frame {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    object-fit: cover;
    width: 225px;
    height: 220px;
    border-radius: 120px;
  }
}

.name-edit-flex {
  display: flex;
  justify-content: space-between;
  padding: 36px 32px 0 32px;
}

.edit-option-title {
  height: 117px;
  span {
    display: flex;
    width: fit-content;
    font-size: 18px;
    color: #535af1;
    &:hover {
      color: blue;
      transform: scale(1.03);
    }
  }
}

.name-status-flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  p {
    font-size: 20px;
    color: #92c83e;
  }
  h2 {
    font-size: 32px;
  }
}

.mail-flex-column {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  margin: 36px 0 0 30px;
  width: 265px;
  img {
    width: 30px;
    filter: brightness(0) saturate(100%);
  }
}

.email-title {
  font-size: 20px;
  font-weight: 700;
}

.user-mail {
  font-size: 18px;
  color: #1381ff;
  width: 270px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.online-status-div {
  display: flex;
  gap: 8px;
}

.btn-ct {
  display: flex;
  justify-content: center;
  button{
    display: flex;
    gap: 6px;
    align-items: center;
    position: absolute;
    bottom: 70px;
  }
}

