<section>
  <header>
    <div class="header-content">
      <img src="./assets/img/logo.png" alt="" />
      <h1>DABubble</h1>
    </div>
  </header>

  <div class="card">
    <div class="heading">
      <img
        routerLink="/"
        src="./assets/img/arrow_back_bugfix.svg"
        alt=""
        routerLink="/"
      />
      <h2>Konto erstellen</h2>
    </div>
    <div class="sub-header">
      <span>Mit deinem Namen und deiner E-mail-Adresse hast du dein neues
        DABubble-Konto</span>
    </div>
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
      <div class="form-row">
        <label for="name"></label>
        <input type="text" [(ngModel)]="userData.name" id="name" name="displayName" #name="ngModel" placeholder="Name und Nachname"
          (focus)="nameIcon.src = './assets/img/person_filled_black.svg'"
          (blur)="nameIcon.src = './assets/img/person_filled.svg'" required />
        <img #nameIcon class="icon" #person src="./assets/img/person_filled.svg" alt="" />
        <span class="error-message" *ngIf="!name.valid && name.touched">
          <span>*Der Name ist erforderlich.</span>
        </span>
      </div>
      <div class="form-row">
        <label for="mail"></label>
        <input id="mail" type="email" name=email  placeholder="beispielname@email.com" #email="ngModel" [(ngModel)]="userData.email"
          (focus)="emailIcon.src = './assets/img/email_filled_black.svg'" (blur)="emailIcon.src = './assets/img/mail.svg'"
          required />
        <img #emailIcon class="icon" #email src="./assets/img/mail.svg" alt="" />
        <span class="error-message" *ngIf="!email.valid && email.touched">*Eine Mail ist erforderlich.</span>
      </div>
      <div class="form-row">
        <label for="password"></label>
        <input name=password  [(ngModel)]="userData.password" #password="ngModel" type="password" id="password" placeholder="Passwort"
          (focus)="passwordIcon.src = './assets/img/lock_filled_black.svg'" (blur)="passwordIcon.src = './assets/img/lock.svg'"
          required />
        <img #passwordIcon class="icon" #password src="./assets/img/lock.svg" alt="" />
        <span class="error-message" *ngIf="!password.valid && password.touched">*Ein Passwort ist erforderlich.</span>
      </div>
      <div class="checkbox-row">
        <input id="privacy-policy" name="privacy-policy" (click)="toggleChecked()" type="checkbox" [(ngModel)]="userData.privacyPolicy"
          required />
        <label for="checkbox" class="custom-checkbox" [class.checked]="isChecked"></label>
        <label for="checkbox" class="privacy">
          Ich stimme der
          <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu.
        </label>
        <span class="error-message top"
          *ngIf="userForm.controls['privacy-policy'] && !userForm.controls['privacy-policy'].valid && userForm.controls['privacy-policy'].touched">
          *Bitte Datenschutzerklärung akzeptieren</span>
      </div>
      <div class="button-container">
        <button type="submit" value="submit" [disabled]="userForm.invalid" (mouseenter)="toggleHover()"
          (mouseleave)="toggleHover()" [ngClass]="{
            'btn-primary': !isDisabled,
            'btn-primary-disabled': isDisabled,
            'btn-primary-hover': isHovered
          }">
          Weiter
        </button>
      </div>
    </form>
  </div>
  <div class="policy">
    <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
    <a routerLink="/privacy-policy" routerLinkActive="active">Datenschutz</a>
  </div>
</section>