<section>
  <header>
    <div class="header-content">
      <img src="./assets/img/logo.png" alt="" />
      <h1>DABubble</h1>
    </div>
  </header>

  <div class="card">
    <div class="heading">
      <img
        routerLink="/"
        src="./assets/img/arrow_back_bugfix.svg"
        alt=""
        routerLink="/"
      />
      <h2>Konto erstellen</h2>
    </div>
    <div class="sub-header">
      <span
        >Mit deinem Namen und deiner E-mail-Adresse hast du dein neues
        DABubble-Konto</span
      >
    </div>
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <label for="fullName"></label>
        <input
          id="fullName"
          type="text"
          placeholder="Name und Nachname"
          (focus)="person.src = './assets/img/person_filled_black.svg'"
          (blur)="person.src = './assets/img/person_filled.svg'"
          required
          formControlName="fullName"
        />
        <img class="icon" #person src="./assets/img/person_filled.svg" alt="" />
        <span
          class="error-message"
          *ngIf="f['fullName'].invalid && f['fullName'].touched"
        >
          <span *ngIf="f['fullName'].errors?.['required']"
            >*Der Name ist erforderlich.</span
          >
        </span>
      </div>
      <div class="form-row">
        <label for="userMail"></label>
        <input
          id="userMail"
          type="email"
          placeholder="beispielname@email.com"
          (focus)="email.src = './assets/img/email_filled_black.svg'"
          (blur)="email.src = './assets/img/mail.svg'"
          required
          formControlName="userMail"
        />
        <img class="icon" #email src="./assets/img/mail.svg" alt="" />
        <span
          class="error-message"
          *ngIf="f['userMail'].invalid && f['userMail'].touched"
        >
          <span *ngIf="f['userMail'].errors?.['required']"
            >*Eine Mail ist erforderlich.</span
          >
        </span>
      </div>
      <div class="form-row">
        <input
          type="password"
          placeholder="Passwort"
          (focus)="password.src = './assets/img/lock_filled_black.svg'"
          (blur)="password.src = './assets/img/lock.svg'"
          required
          formControlName="password"
        />
        <img class="icon" #password src="./assets/img/lock.svg" alt="" />
        <span
          class="error-message"
          *ngIf="f['password'].invalid && f['password'].touched"
        >
          <span *ngIf="f['password'].errors?.['required']"
            >*Ein Passwort ist erforderlich.</span
          >
        </span>
      </div>
      <div class="checkbox-row">
        <input
          (click)="toggleChecked()"
          type="checkbox"
          required
          formControlName="checkbox"
        />
        <label
          for="checkbox"
          class="custom-checkbox"
          [class.checked]="isChecked"
        ></label>
        <label for="checkbox" class="privacy">
          Ich stimme der
          <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu.
        </label>
        <span
          class="error-message"
          *ngIf="f['checkbox'].invalid && f['checkbox'].touched"
        >
          <span *ngIf="f['checkbox'].errors?.['required']"
            >*Bitte Datenschutzerklärung akzeptieren</span
          >
        </span>
      </div>
      <div class="button-container">
        <button
          routerLink="/impressum"
          routerLinkActive="active"
          [disabled]="createUserForm.invalid"
          (mouseenter)="toggleHover()"
          (mouseleave)="toggleHover()"
          [ngClass]="{
            'btn-primary': !isDisabled,
            'btn-primary-disabled': isDisabled,
            'btn-primary-hover': isHovered
          }"
        >
          Weiter
        </button>
      </div>
    </form>
  </div>
  <div class="policy">
    <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
    <a routerLink="/privacy-policy" routerLinkActive="active">Datenschutz</a>
  </div>
</section>
