section {
  height: 100vh;
  background-color: #eceefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  .header-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  img {
    height: 56px;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Nunito";
  }
}

.card {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 24px 8px;
  padding: 16px;
  box-shadow: 0px 2px 10px 0px #00000014;
  max-width: 606px;
  max-height: 669px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Nunito";
  margin: 8px 0;
  .img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 8px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    &:hover {
      background-color: rgb(236, 238, 254);
      cursor: pointer;

      .icon path {
        fill: #444DF2
      }
    }
  }
  h2 {
    font-size: 28px;
    color: #444df2;
  }
}

.sub-header {
  text-align: center;
  span {
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 400;
  }
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}

.form-row {
  display: flex;
  align-items: center;
  flex: auto;
  position: relative;
  width: 100%;
  z-index: 1;
  input {
    border-radius: 100px;
    border: none;
    background-color: #eceefe;
    padding: 18px 32px 18px 64px;
    width: 100%;
    outline: none;
    position: relative;
    font-family: "Nunito";
    font-weight: 700;
  }
  img {
    position: absolute;
    left: 16px;
  }
}

.form-row {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 100px;
    z-index: -1;
  }
  &:hover::before {
    border: 1px solid #686868;
    transition: border 125ms ease-in-out;
  }
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  gap: 12px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  min-width: 14px;
  min-height: 14px;
  background-color: transparent;
  z-index: 0;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #797ef3;
  border-radius: 2px;
  z-index: 2;
}

.custom-checkbox:hover::before {
  border: 2px solid #444df2;
  transition: border 125ms ease-in-out;
}

.custom-checkbox.checked {
  background-image: url("../../assets/img/checkbox-checked.svg");
}

.custom-checkbox.checked:hover::after {
  background-image: url("../../assets/img/checkbox_checked_hover.svg");
  background-position: -1px -1px;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 8px;
  background-color: #eceefe;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox:hover::after {
  transition: opacity 125ms ease-in-out;
  opacity: 1;
}

.policy {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 48px;
  gap: 16px;
  a {
    font-size: 18px;
    font-family: "Figtree";
    text-align: center;
    text-decoration: none;
    width: 120px;
    border: 1px solid transparent;
    color: #797ef3;
    cursor: pointer;
    &:hover {
      border: 1px solid grey;
      border-radius: 36px;
      padding: 4px 8px;
      font-weight: 500;
      transition: border-color 250ms ease-in-out;
    }
  }
}

.privacy {
  position: relative;
  bottom: -2px;
  a {
    color: #797ef3;
    text-decoration: none;
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 16px 0;
  button {
    cursor: pointer;
  }
}

.error-message {
  position: absolute;
  top: 56px;
  left: 22px;
  font-size: 12px;
  color: red;
}
.top {
  top: 28px !important;
}

@media (min-width: 1024px) {
  section {
    justify-content: space-between;
  }

  header {
    width: 100%;
    max-width: 1920px;
    position: relative;
    .header-content {
      position: absolute;
      top: 75px;
      left: 75px;
    }
  }

  .card {
    padding: 16px 48px;
  }
}
