@import "./../../assets/fonts/font.scss";
@import "./../../assets/styles/buttons";

.full-page-content {
  background-color: #eceefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 22px;
  max-width: 2000px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    span {
      font-size: 18px;
    }
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .advice-mail {
    text-align: center;
    margin-bottom: 32px;
    font-size: 20px;
    max-width: 600px;
  }
}

.grey-border-btn {
  border: 1px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  border-radius: 22px;
  padding: 6px 10px;
  background-color: #eceefe;
  color: rgba(68, 77, 242, 0.3);
  a {
    font-family: "Figtree";
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
    letter-spacing: 0.5px;
    color: rgba(68, 77, 242, 0.3);
  }
  &:hover {
    border-color: grey;
    color: rgba(68, 77, 242, 1);
    a {
      color: #444df2;
    }
  }
}

h2 {
  color: #444df2;
  text-align: center;
  font-size: 46px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form-headline {
  display: flex;
  flex-direction: column;
  min-height: 680px;
  gap: 30px;
  max-width: 620px;
  border-radius: 20px;
  background-color: white;
  padding: 52px;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-styling {
  background-color: #eceefe;
  display: flex;
  gap: 10px;
  padding: 18px 32px 18px 62px;
  width: 500px;
  height: 60px;
  border-radius: 100px;
  border-style: none;
  cursor: pointer;
  &:hover {
    border: 2px solid;
    border-color: grey;
  }
}

input[type="text"]::placeholder {
  font-family: "Nunito";
  font-size: 16px;
}
input[type="text"]:focus::placeholder {
  color: transparent;
}

.input-container:focus-within img {
  fill: black;
  filter: brightness(0) saturate(100%);
}
.input-container img {
  position: absolute;
  left: 22px;
  width: 24px;
  height: 24px;
}

.check-if-pw-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 620px;
  margin: 28px 0;
  gap: 32px;
}

.forgotPw {
  font-family: "Figtree";
  color: rgba(121, 126, 243, 0.3);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-top: 38px;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease,
    border-radius 0.3s ease;
  &:hover {
    background: #eceefe;
    border-radius: 20px;
    padding: 8px 12px;
    color: rgb(121, 126, 243);
  }
}

.hover-effect {
  background-color: #eceefe;
  border-radius: 20px;
  padding: 8px 12px;
  color: rgb(121, 126, 243);
}
.oder-part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  .line-img {
    width: 500px;
    position: relative;
  }
  .oder {
    color: black;
    font-size: 18px;
    text-align: center;
    background-color: white;
    padding: 0 10px;
    position: absolute;
  }
}
.google-button {
  display: flex;
  align-items: center;
  gap: 20px !important;
  padding: 18px 32px 18px 100px !important;
  height: 60px;
  p {
    text-align: center;
    font-size: 18px;
    color: #444df2;
    font-family: "Figtree";
  }
  &:hover {
    border-color: #444df2 !important;
  }
}

.button-flex-box {
  display: flex;
  margin-top: 38px;
  gap: 30px;
  position: relative;
}

.btn-primary,
.btn-primary-disabled:not([disabled]) {
  background-color: #444df2;
  padding: 12px 25px;
  cursor: pointer;
  &:hover {
    background-color: #797ef3;
    transform: scale(1.05);
  }
  &:focus {
    background-color: #444df2;
  }
}

.btn-secondary:hover {
  background-color: #535af1;
  color: white;
  transform: scale(1.05);
}

.imprint-privacy {
  display: flex;
  gap: 26px;
  position: relative;
  bottom: 42px;
}

.error-message {
  position: absolute;
  top: 66px;
  left: 22px;
  font-size: 12px;
  color: red;
}

.mt {
  margin-top: 36px;
}


@media (max-width: 640px) {
  header {
    img {
      width: 60px;
      height: 60px;
    }
  }
  form {
    .advice-mail {
      font-size: 16px;
      width: 300px;
      margin-bottom: 22px;
    }
  }
  h2 {
    font-size: 38px;
  }
  .login-form-headline {
    padding: 12px;
    max-width: 320px;
  }
  .input-container {
    width: 280px;
  }
  .input-styling {
    height: 50px;
  }
  .google-button {
    justify-content: center;
    width: 300px;
    padding: 0 !important;
  }
  .oder-part {
    .line-img {
      width: 320px;
    }
  }
  .btn-primary,
  .btn-primary-disabled,
  .btn-primary-disabled:not([disabled]) {
    padding: 8px 16px;
    font-size: 16px;
  }
  .error-message{
    top: 55px;
  }
}
