@import "./../../assets/fonts/font.scss";

* {
  background-color: #eceefe;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 22px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    span {
      font-size: 18px;
    }
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
.signUpBtn {
  border: 2px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  border-radius: 22px;
  padding: 6px 10px 6px 10px;
  a {
    font-family: "Figtree";
    font-size: 18px;
    color: rgba(68, 77, 242, 0.5);
    text-decoration: none;
    transition: color 0.3s ease;
    letter-spacing: 0.5px;
  }
}
:hover {
  border-color: #797ef3;
  a {
    color: #444df2;
  }
}

h2 {
  color: #444df2;
}

.login-form-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  span {
    text-align: center;
  }
}
