<header>
    <img src="./assets/img/logo.png">
    <div>
        <span>Neu bei DABubble?</span>
        <button class="signUpBtn"><a href="#">Konto erstellen</a></button>
    </div>
</header>
<div class="login-form-ct">
    <h2>Anmeldung</h2>
    <form>
        <span>Wir empfehlen dir, die E-Mail Adresse zu benutzen,
            die du bei der Arbeit verwendest.</span>
        <div>
            <img src="./../../assets/img/mail.svg">
            <input placeholder="beispielname@email.com">
        </div>
        <div>
            <img src="./../../assets/img/lock.svg">
            <input placeholder="Passwort">
        </div>

        <span class="forgotPw">
            Passwort vergessen
        </span>

        ____ ODER _____
    </form>
</div>