* {
    box-sizing: border-box;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    z-index: 1;
}

.hide-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    z-index: 1;
    opacity: 0;
    transition: opacity 750ms ease-in-out;
}

.logo-container {
    position: relative;
    width: 512px;
    height: 512px;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: left 500ms ease-in-out;

        &.to-left {
            left: 0;
        }
    }


    h1 {
        font-size: 92px;
        font-family: 'Nunito';
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: left 250ms ease-in-out, opacity 150ms ease-in-out;
        opacity: 0;

        &.visible {
            left: 66%;
            opacity: 1;
        }
    }
}