.card {
  padding: 40px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;

    .icon path {
      fill: #444df2;
    }
  }
}