.card {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
  }
}

.img-container {
  display: flex;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background-color: #ECEEFE;
  }
  &:hover .icon path {
    fill: #535AF1;
  }
}

p {
  font-family: Nunito;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.19px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  label {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    span {
      font-family: Nunito;
      font-size: 18px;
      font-weight: 400;
      line-height: 24.55px;
      text-align: left;
    }
  }
  input {
    border-radius: 40px;
    border: 1px solid #ADB0D9;
    padding: 18px 20px;
    outline: none;
  }
  .channel-name {
    padding-left: 50px;
    background-image: url(../../assets/img/hashtag-grey.png);
    background-repeat: no-repeat;
    background-position: 16px center;
  }
}


.button-row {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px){
  .card {
    padding: 40px;
  }
}
