.btn-primary {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    padding: 12px 25px;
    background-color: #444DF2;
    color: white;
}

.btn-primary-hover {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #797EF3;
    color: white;
}

.btn-primary-click {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #444DF2;
    color: white;
}

.btn-primary-disabled {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #686868;
    color: white;
}

.btn-secondary {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #797EF3;
    color: #797EF3;
    padding: 12px 25px;
    background-color: white;
}

.btn-secondary-hover {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #535AF1;
    color: white;
}

.btn-secondary-click {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #444DF2;
    color: white;
}

.btn-secondary-disabled {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #686868;
    padding: 12px 25px;
    background-color: white;
    color: #686868;
}