.card {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000014;
  border-radius: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;

  .header-text {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  padding: 30px;
}

.header-seperator {
  width: 100%;
  height: 1px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.452);
  margin-bottom: 8px;
}

.thread-topic-container,
.thread-message-container {
  display: flex;
  gap: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topic-container,
.message-container,
.user-message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .topic-header,
  .message-header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .topic-text,
  .message-text {
    background-color: #eceefe;
    max-width: 278px;
    padding: 15px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.topic-seperator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .seperator-line {
    height: 1px;
    width: 296px;
    background-color: #adb0d9;
  }
}

.thread-user-message-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-message-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
}

.user-message-text {
  background-color: #797ef3;
  max-width: 278px;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}


.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    textarea {
        resize: none;
        border-radius: 20px;
        padding: 20px;
        font-family: 'Nunito';
        font-size: 16px;
        margin: 24px 0;
        outline: none;
    }
}

.message-label {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    left: 64px;
    right: 64px;
    bottom: 42px;
    .left-side,
    .right-side {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .text-seperator {
        height: 32px;
        border: 1px solid rgba(0, 0, 0, 0.277);
        width: 1px;
    }
}